<body>
    <link rel="stylesheet" href="style.css"  type="text/css"/>
</body>

{{#if user}}
    <div class="container mt-4">
        <form action="/sessions/logout" method="POST">
            <div class="alert alert-info alert-dismissible fade show">
                <strong>Bienvenido {{user}}</strong>
                <button type="cerrar Sesión" class="btn btn-primary">Cerrar Sesión</button>
            </div>
        </form>
    </div>
{{/if}}

<h1 class="text-center mt-3">Listado de Productos</h1>

{{!-- {{> form}} --}}
{{#if products}}
        {{> cards}}
     {{!-- <div id="productsContainer"></div> --}}
    {{else}}
    <p>No se encontraron datos</p>
{{/if}}

<div class="text-center">
    {{#if prev}}
	    <a href="/products/?limit={{limit}}&page={{prev}}&sort{{sort}}" class="btn btn-primary" >Anterior</a>
    {{else}}
        <a href="#" class="btn btn-dark" >Anterior</a>
    {{/if}}
      <button onclick="#" class="btn btn-primary">{{page}}</button>
    {{#if next}}
	    <a href="/products/?limit={{limit}}&page={{next}}&sort{{sort}}" class="btn btn-primary" >Siguiente</a>
    {{else}}
        <a href="#" class="btn btn-dark" >Siguiente</a>
    {{/if}}
</div>
{{!-- <script src='home.js'type="text/javascript"></script> --}}